@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var isAdmin = User.IsInRole("Admin");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>@ViewData["Title"] - MEDINOW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/bootstrap-overrides.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/identity.css" rel="stylesheet" />
    <link href="~/css/time-picker.css" rel="stylesheet" />
    <link href="~/css/calendar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MedicalCenterRegistration.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/bootstrap5.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales-all.global.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbar__header">
        <nav class="navbar-lg navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 pt-1">
            <div class="navbar-inner">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-heart-pulse navbar-logo-icon"></i>
                            <span class="navbar-logo"><span>MEDI</span><span class="second-part">NOW</span></span>
                        </a>
                    </div>
                    <div class="d-none d-lg-flex w-100 align-items-center px-2">
                        <span class="navbar__gradient-line"></span>
                        <div class="container d-flex justify-content-center w-auto px-4">
                            <span class="primary-color" style="font-size: 18px; font-family: 'Roboto Condensed', sans-serif; letter-spacing: 0.1rem; white-space: nowrap;">
                                <span>CENTRUM MEDYCZNE</span>
                                <span>W POZNANIU</span>
                            </span>
                        </div>
                        <span class="navbar__gradient-line"></span>
                    </div>
                    <partial name="_LoginPartial" />
                </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav navbar__sections flex-grow-1">
                        <li class="nav-item">
                            @* TODO links *@
                            <div class="d-flex">
                                <i class="bi bi-calendar-check navbar__calendar-icon me-2 me-sm-0"></i>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Visits" asp-action="ChooseVisitType">Umów Wizytę</a>
                            </div>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Visits" asp-action="Index">Moje Wizyty</a>
                            </li>
                        }
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Create" asp-controller="Doctors" asp-action="Index">Dodaj lekarza</a>
                            </li>
                        }
                        @*         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Kontakt</a>
                         </li> *@
                        <li class="nav-item d-block d-sm-none">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link text-dark text-nowrap border-0 bg-white">
                                    Wyloguj <i style="position: relative; top: 1px;" class="bi bi-box-arrow-right ms-1"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content container-fluid no-inline-p">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2025 - Centrum Medyczne Medinow w Poznaniu
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
