:root {
    --color-neutral-1: #212529;
    --color-primary: #ff5f72;
    --color-primary-light: #fff6f7;
    --color-secondary: #235ecd;
    --global-margin: 24px;
    --global-max-width: 1648px;
    --std-transition-duration: 0.15s;
    --std-transition-timing-fn: ease-in-outl;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin-inline: auto;
    max-width: var(--global-max-width);
}

.content {
    margin-top: 48px;
    margin-inline: calc(24px + var(--global-margin)) !important;
}
