:root {
    --color-text-light: white;
    --color-neutral-1: #212529;
    --color-primary: #4A90E2;
    --color-primary-light: #70AEEE;
    --color-primary-dark: #3883db;
    --color-secondary: #50C9A7;
    --color-secondary-light: #68C0AC;
    --color-secondary-dark: #2eab8e;
    --card-bg-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    --global-margin: 24px;
    --global-max-width: 1648px;
    --section-padding: 24px;
    --std-transition-duration: 0.15s;
    --std-transition-timing-fn: ease-in-outl;
    --std-button-radius: 50px;
    --std-button-padding: 8px 24px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.app {

}

.content {
    max-width: calc(var(--global-max-width) - var(--global-margin));
/*    margin-inline: auto;*/
/*    padding-inline: calc(var(--section-padding) + 36px);*/
}


.text-color {
    color: var(--color-neutral-1);
}

.primary-color {
    color: var(--color-primary);
}

.secondary-color {
    color: var(--color-secondary);

}

.light-color {
    color: var(--color-text-light);
}

.card {
    background-color: var(--card-bg-color);
}


.no-inline-p {
    padding-inline: 0;
}


.content-section {
    padding: 16px;
}
@media (min-width: 1200px) {
    .content-section {
        padding: 16px 48px;
    }
}
@media screen and (min-width: 1667px) {
    .content-section {
        padding: 0px;
    }
}

