@model MedicalCenterRegistration.Models.Visit

@{
    ViewData["Title"] = "Umawianie wizyty";
}


@* <div class="row">
     <div class="col-md-4">
         <form asp-action="Create">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                 <label asp-for="DoctorId" class="control-label"></label>
                 <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
             </div>
             <div class="form-group">
                 <label asp-for="PatientId" class="control-label"></label>
                 <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
             </div>
             <div class="form-group">
                 <label asp-for="VisitScheduleId" class="control-label"></label>
                 <select asp-for="VisitScheduleId" class ="form-control" asp-items="ViewBag.VisitScheduleId"></select>
             </div>
             <div class="form-group">
                 <label asp-for="CreatedAt" class="control-label"></label>
                 <input asp-for="CreatedAt" class="form-control" />
                 <span asp-validation-for="CreatedAt" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-primary" />
             </div>
         </form>
     </div>
 </div> *@
<form class="p-5">
    <h1>Wybierz lekarza oraz termin:</h1>

    <div class="row">
        <div class="col list-group my-4">
            <label style="gap: 12px;" id="DoctorId1Label" class="list-group-item list-group-item-action d-flex">
                <div style="height: 100px; width: 100px; min-width: 100px" class="rounded overflow-hidden">
                    <img style="object-fit: cover;" class="w-100 h-100" src="~/assets/doctors/adam.jpg" />
                </div>
                <div>
                    <input hidden type="radio" name="Doctor" value="DoctorId1" required />
                    <div class="d-flex justify-content-between w-100 mb-1 align-items-center">
                        <div class="d-flex align-items: center">
                            <h5 class="m-0 me-2">Adam Jankowski</h5>
                            <span style="top: 1px;" class="position-relative text-muted">32 lata</span>
                        </div>

                        <span class="badge rounded-pill bg-success">Darmowa wizyta</span>
                    </div>
                    <p class="mb-1">
                        doświadczony lekarz specjalizujący się w kompleksowej opiece medycznej.
                        Specjalista w zakresie diagnostyki i leczenia schorzeń układu oddechowego.
                    </p>
                </div>
            </label>
            <label style="gap: 12px;" id="DoctorId2Label" class="list-group-item list-group-item-action d-flex">
                <div style="height: 100px; width: 100px; min-width: 100px" class="rounded overflow-hidden">
                    <img style="object-fit: cover;" class="w-100 h-100" src="~/assets/doctors/iga.jpg" />
                </div>
                <div>
                    <input hidden type="radio" name="Doctor" value="DoctorId2" required />
                    <div class="d-flex justify-content-between w-100 mb-1 align-items-center">
                        <div class="d-flex align-items: center">
                            <h5 class="m-0 me-2">Iga Kraśko</h5>
                            <span style="top: 1px;" class="position-relative text-muted">32 lata</span>
                        </div>

                        <span class="badge rounded-pill bg-success">Darmowa wizyta</span>
                    </div>
                    <p class="mb-1">
                        doświadczony lekarz specjalizujący się w kompleksowej opiece medycznej.
                        Specjalista w zakresie diagnostyki i leczenia schorzeń układu oddechowego.
                    </p>
                </div>
            </label>



            <!-- Add more options similarly -->
        </div>
        <div class="col">

            <h1>HEY</h1>
            <!-- Add more options similarly -->
        </div>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



<script>
    const options = document.querySelectorAll('input[name="Doctor"]');
    options.forEach(option => {
        option.addEventListener('change', function () {

            const selectedValue = this.value;
            const optionLabel = document.getElementById(`${this.value}Label`)
            optionLabel.classList.add('active');

            const allLabels = document.querySelectorAll('.list-group-item');
            allLabels.forEach(label => {
                if (label !== optionLabel) {
                    label.classList.remove('active');
                }
            });
        });
    });
</script>
