@model MedicalCenterRegistration.Models.ViewModels.Patients.PatiensListViewModel

@{
    ViewData["Title"] = "Lista pacjentów";
}

<div class="p-1 p-sm-4">
    <h1>Lista naszych pacjentów</h1>

    <div class="mb-3">
        <a asp-action="CreateForUser" class="btn btn-primary">Przypisz kartę pacjenta</a>
    </div>

    @await Html.PartialAsync("Patients/_PatientsTable", Model)

</div>
