@{
    ViewData["Title"] = "Home Page";
}


@* <heading class="text-color">
    <h1 class="fw-bold ">Zarejestruj się na wizytę</h1>
    <h2>u najlepszych specjalistów</h2>
</heading>
<section>
    <label></label>
</section> *@

<div style="gap: 24px;" class="d-flex content-section">
    <div style="min-width: 400px;" class="card flex-fill w-25">
        <div class="card-body text-color">
            <h5 class="card-title "><strong>MEDINOW</strong> – Twoje zdrowie w najlepszych rękach</h5>
            <hr />
            <p class="card-text">
                Szukasz szybkiej i wygodnej drogi do umówienia wizyty lekarskiej?
                W MEDINOW stawiamy na nowoczesność, bezpieczeństwo i komfort naszych pacjentów.
                Dzięki naszemu intuicyjnemu systemowi rejestracji możesz w kilka chwil zarezerwować wizytę u specjalisty – bez długich kolejek i zbędnego stresu.
            </p>
            <p class="card-text">
                Nie czekaj – zadbaj o swoje zdrowie już teraz!
                👉 Zarejestruj się online i umów wizytę w kilka kliknięć!
            </p>
            <a href="#" class="btn btn-primary-dark btn-cta"><i class="bi bi-calendar-check fill light-color me-1"></i> Umów wizytę</a>
        </div>
    </div>

    <section class="carousel-section">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/assets/professional-staff-2.jpg" class="d-block w-100 carousel-image" alt="Professional staff">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Poznaj naszych profesjonalistów</h5>
                        <p>Specjaliści Medinow zawsze stają na wysokości zadania i cechują się pełnym zaangażowaniem i profesjonalizmem. Wybierz lekarza, termin i zarejestruj się na wizytę już dziś!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/unhappy-phone-call.jpg" class="d-block w-100 carousel-image" alt="Angry phone call">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Koniec z meczącą rejestracją telefoniczną</h5>
                        <p>Dzięki naszemu systemowi rejestracji internetowej umówisz się wizytę szybko i bezproblemowo. Bo rejestracji zachęcamy do wzięcia udziału w ankiecie - chcemy stawać się lepsi poprzez opinie naszych pacjentów.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assets/happy-staff.jpg" class="d-block w-100 carousel-image" style="object-fit: cover;" alt="Happy staff">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Przyjazna atmosfera</h5>
                        <p>W Medinow dbamy o to, żeby nasi pacjenci czuli się u nas jak najlepiej. Priorytetm jest dla nas dobre samopoczucie pacjentów oraz naszego personelu.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

</div>

<div class="home__benefits-section mt-4">
    <h3 class="mt-0 mb-1 text-white">Co nas charakteryzuje?</h3>
    <hr style="height: 1px; width: 100%; background-color: white;" />

    <div class="d-flex justify-content-around w-100 flex-wrap">

        <div class="home__benefit-item">
            <i class="bi bi-hospital home__benefit-icon"></i>
            <h5>Nowoczesna placówka</h5>
        </div>
        <div class="home__benefit-item">
            <i class="bi bi-bandaid home__benefit-icon"></i>
            <h5>Profesjonalna opieka</h5>
        </div>
        <div class="home__benefit-item">
            <i class="bi bi-calendar2-check home__benefit-icon"></i>
            <h5>Dogodne terminy</h5>
        </div>
        <div class="home__benefit-item">
            <i class="bi bi-heart-pulse home__benefit-icon"></i>
            <h5>Indywidualne podejście</h5>
        </div>
        <div class="home__benefit-item">
            <i class="bi bi-hourglass home__benefit-icon"></i>
            <h5>Szybka obsługa</h5>
        </div>
    </div>
</div>

<div class="mt-2 home__feed">
    <h2 class="fw-bold mb-0">Aktualności</h2>
    <hr style="height: 1px; width: 100%;" />
    <div class="home__feed-items mt-3">
        <div class="home__feed-item">
            <div>
                <img src="~/assets/rennovation.jpg" />
            </div>
            <div class="d-flex flex-column flex-fill">
                <span class="primary-color  mt-2">10.04.2025</span>
                <h5 class="fw-bold mt-2">Przebudowa sekcji C6</h5>
                <p>
                    W związku z rozwojem naszej placówki, wprowadzamy zmiany w sekcji C6. Przepraszamy za utrudnienia.
                </p>
                <a class="text-decoration-none primary-color fw-bold mt-auto" href="#">Czytaj więcej</a>
            </div>
        </div>
        <div class="home__feed-item">
            <div>
                <img src="~/assets/doctors.jpg" />
            </div>
            <div class="d-flex flex-column">
                <span class="primary-color  mt-2">25.04.2025</span>
                <h5 class="fw-bold mt-2">Dzień Otwarty w MEDINOW</h5>
                <p>
                    Zapraszamy na Dzień Otwarty naszej placówki! Będziecie mieli okazję poznać nasz zespół, ofertę oraz zwiedzić Centrum Medyczne.
                </p>
                <a class="text-decoration-none primary-color fw-bold mt-auto" href="#">Czytaj więcej</a>
            </div>
        </div>
        <div class="home__feed-item">
            <div>
                <img src="~/assets/documents-signing.jpg" />
            </div>
            <div class="d-flex flex-column">
                <span class="primary-color  mt-2">30.04.2025</span>
                <h5 class="fw-bold mt-2">Pamiętaj o corocznych badaniach!</h5>
                <p>
                    Zdrowie jest najważniejsze. Przypominamy o możliwości wykonania profilaktycznych badań kontrolnych w naszej placówce.
                </p>
                <a class="text-decoration-none primary-color fw-bold mt-auto" href="#">Czytaj więcej</a>
            </div>
        </div>
    </div>
</div>
