@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu";
}

<div class="h-100">
    <header class="w-100 d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center border-danger border-2 border rounded px-5 py-3">
            <div class="d-flex align-items-center gap-2">
                <h1 class="text-danger">@ViewData["Title"]</h1>
            </div>
            <h6 class="text-danger mb-0">Nie masz dostępu do tej funkcjonalności.</h6>
            <i style="font-size: 64px;" class="bi bi-shield-lock-fill text-danger"></i>
        </div>
    </header>
</div>

