﻿
@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzono adres email!";
}

<div class="container w-75">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center">
        <a id="confirm-link" asp-controller="Home" asp-action="Index">Wróć na stronę główną</a> 
    </p>
</div>
