@{
    ViewData["Title"] = "Lista użytkowników";
}

<h1>Lista użytkowników</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Dodaj nowego użytkownika</a>
</div>

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rola</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {

    <script>
        window.dataTableSSConfig = {
            ajaxUrl: '@Url.Action("GetUsers", "UserManagement")',
            columns: [
                { data: 'email' },
                {
                    data: 'role',
                    orderable: false,
                    searchable: false
                },
                {
                    data: 'createdAt',
                    orderable: false,
                    searchable: false
                },
            ]
        };
    </script>

    <script src="~/js/datatable.js" asp-append-version="true"></script>
}
